@{
    Layout = "_AdminLayout";
    
}
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
<div>
  <canvas id="myChart"></canvas>
</div>

        <!-- /.row -->
       </div>
      </div>
      <!-- /.container-fluid -->

                <script src="~/plugins/jquery/jquery.min.js"></script>
      <script>
   function GetOrdersJSON() {
          var resp = [];
              $.ajax({
                  type: "GET",
                  url: '/Dashboard/OrderStats',
                  async: false,
                  contentType: "application/json",
                  success: function (data) {
                      resp.push(data);
                  },
                  error: function (req, status, error) {
                      // do something with error
                      alert("error");
                  }
              });
          return resp;
     }

     var simpleData = GetOrdersJSON();

  const dataZ = {
    labels: simpleData[0].myLabels,
    datasets: [{
      label: simpleData[0].myChartLabel,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: simpleData[0].myData,
    }]
  };

  const config = {
    type: 'line',
    data: dataZ,
    options: {}
  };
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>